<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4">

  <link rel="stylesheet" href="/static/css/bootstrap.css">

  <a class="navbar-brand" href="/index">Lernhilfen</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" class="navbar-fixed-top"id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	<a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if current_user.is_anonymus %}
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('registration') }} ">Register</a>
            </li>
        </ul>
        {% else %}
        
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active">
	<a class="nav-link" href="{{ url_for('registration') }} ">Register</a>
          </li>
          <li class="pt-1">
              <select onchange="change(this.value)">
                <option selected disabled hidden>user</option>
                <option value="{{url_for('editprofile')}}">Profil</option>
                <option value="{{ url_for('logout')}}">Abmelden</option>
              </select>
            </li>
      </ul>
      {% endif %}
</nav>
<script>
function change(src)
{

  window.location=src;
}
</script>