{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <h1>Profil von {{username}}</h1>
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Vorname">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nachname">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Vorname">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nachname">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Vorname">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nachname">
            </div>
        </div>
    </form>
</div>

{% endblock %}