{% extends 'layout.html' %}
{% block body %}
<div class="container">

    <h1>Profil von {{ current_user.firstname}} {{ current_user.surname }}</h1>

    <form method="post">
	    {{ form.hidden_tag() }}
	    {{ form.csrf_token }}
	    <p>
	    {{ form.firstname.label}} <br>
	    {{ form.firstname(size=32) }} 
	    </p>
	    <p>
	    {{ form.surname.label }} <br>
	    {{ form.surname(size=32) }}
	    </p>
	<p>
	{{ form.school_year.label }} <br>
	{{ form.school_year() }}
    </p>    
        <div class="row pb-2 pt-2">
            <div class="col-sm-2">Fach/Fächer:</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <p class="no-margin">
                            {{form.subject_latin(size=32)}}
                            {{form.subject_latin.label }}
                            {% for error in form.subject_english.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-check">
                        <p class="no-margin">
                            {{form.subject_english(size=32)}}
                            {{form.subject_english.label }}
                            {% for error in form.subject_english.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-check">
                        <p class="no-margin">
                            {{form.subject_math(size=32)}}
                            {{form.subject_math.label }}
                            {% for error in form.subject_math.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        <div>
            <p>
                {{form.text_area.label}} <br>
                {{form.text_area}}
            </p>
        </div>
        <p class="pt-2">
            {{form.submit}}
        </p>
                {{ form.csrf_token }}
    </form>
</div>

{% endblock %}

<style>
html,
body {
    height: 98%;
}
</style>
