{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1 class="text-center">Schüler helfen Schülern</h1>
<!--<img src="/static/pic/kids-learn.jpg" class="img-fluid" alt="Responsive image">-->
<div class="card mb-3">
  <img class="card-img-top mx-auto pt-4" style="width: 40rem;" src="/static/pic/kids-learn.jpg/" alt="You should see two learning kids">
  <div class="card-body">
    <h5 class="card-title">Unser Nachhilfekonzept</h5>
    <p class="card-text">Ältere, erfahrene Schüler helfen jüngeren Schülern mit fachlichen Problemen zu einem günstigeren Preis als bei ausgebildeten Nachhilfelehrern .
      Am Ende provitieren beide, denn auch der Nachhilfegebende wiederholt das Gelernte.</p>
     <p>Die Schülerfirma FG Merchandise bietet mit dieser Homepage den Rahmen für die Nachhilfeschüler und Nachhilfegebenden.
         Wir sind doch lediglich die Vermittler. Wann Nachhilfestunden gegeben werden und wie viel diese Kosten entscheiden die jeweiligen Nachhilfegebenden.
     Wir als Schülerfirma geben nur eine Orientierung von 10 € pro Stunde bei Unter- und Mittelstufe und 15 € pro Stunde bei der Oberstufe an.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
</div>

<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" id="test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  {{username}}
</button>
<div class="dropdown-menu" aria-labelledby="test">
  <a class="dropdown-item" href="/editprofile.html">Profil</a>
  <a class="dropdown-item" href="/logout">Abmelden</a>
</div>
</div>
</div>


<div class="btn-group fakeSelect">
  <input type="hidden" class="selectValue" value="2013">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="currentVal">2013</span>
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <li><a data-value="2013" href="#">2013</a></li>
      <li><a data-value="2012" href="#">2012</a></li>
      <li><a data-value="2011" href="#">2011</a></li>
      <li><a data-value="2010" href="#">2010</a></li>
      <li><a data-value="2009" href="#">2009</a></li>
      <li><a data-value="2008" href="#">2008</a></li>
  </ul>
</div>

{% endblock %}