{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1 class="text-center">Schüler helfen Schülern</h1>
<!--<img src="/static/pic/kids-learn.jpg" class="img-fluid" alt="Responsive image">-->
<div class="card mb-3">
  <img class="card-img-top mx-auto pt-4" style="width: 40rem;" src="/static/pic/kids-learn.jpg/" alt="You should see two learning kids">
  <div class="card-body">
    <h5 class="card-title">Unser Nachhilfekonzept</h5>
    <p class="card-text">Wir sehen unsere Nachhilfeplattform als logische Weiterentwicklung des lange bewährten Konzepts, dass ältere Schüler ihren jüngeren Mitschülern helfend zur Seite stehen. </p>
    <p>Dadurch haben die beteiligten Schüler eine bessere Verbindung zueinander, was zu besseren Ergebnissen führt und das bei einem niedrigeren Preis als bei einem ausgebildeten Nachhilfelehrer.</p>
    <p>Auch die Nachhilfegebenden profitieren, da sie ihr Wissen wiederholen und verfestigen, sowie universell einsetzbare Kompetenzen erlernen.<p>
    <p>Allerdings hat die traditionelle Herangehensweise einen großen Haken, nämlich dass die Kontaktaufnahme zwischen den Beteiligten eine große Hürde darstellt. Häufig müssen Lehrkräfte den Kontakt aufbauen, was einiges an Zeit in Anspruch nimmt. Deshalb bekommen häufig nur sehr schwache Schüler Nachhilfe, während Schüler mit moderatem Nachholbedarf übersehen werden.<p>
    <p>Daher hat die Schülerfirma FG Merchandise in Kooperation mit dem Informatikkurs diese Website entwickelt, um den Weg hin zur erfolgreichen Nachhilfe zu ebnen.<p>
    <p>Wir bieten mit dieser Website eine Möglichkeit, die Kontaktaufnahme zwischen Nachhilfegebenden und Nachhilfeschülern zu vereinfachen um damit die Vorteile der schulinternen Nachhilfe einer breiteren Menge zugänglich zu machen. <p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
</div>

{% endblock %}
