{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1 class="text-center">Schüler helfen Schülern</h1>
<!--<img src="/static/pic/kids-learn.jpg" class="img-fluid" alt="Responsive image">-->
<div class="card mb-3">
  <img class="card-img-top" src="/static/pic/kids-learn.jpg/" alt="You should see two learning kids">
  <div class="card-body">
    <h5 class="card-title">Unser Nachhilfekonzept</h5>
    <p class="card-text">Ältere, erfahrene Schüler helfen jüngeren Schülern mit fachlichen Problemen zu einem günstigeren Preis als bei ausgebildeten Nachhilfeschülern. Am Ende provitieren beide, denn auch der Nachhilfegebende wiederholt das Gelernte.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
</div>

{% endblock %}