<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>MyFlaskApp</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
	<body>
	<div class="h-100">
		{% include 'includes/_navbar.html' %}
		<div>
			{% block body %} {% endblock %}
		</div>
		<script src="/static/js/bootstrap.bundle.min.js"></script>
	</div>
	</body>

	<div>
		<footer class="bg-dark mt-4 pb-2 pt-2">
			<a href="/impressum"><p class="text-center m-0">Impressum</p></a>
		</footer>
	</div>
</html>

<style>

</style>