{% extends 'layout.html' %}

{% block body %}

<form class="form-signin" method=post>
	{{ form.hidden_tag() }}
	<p>
	{{ form.username.label }} <br>
	{{ form.username(size=64) }}
	</p>
	<p>
	{{ form.password.label }} <br>
	{{ form.password(size=64) }}
	</p>
	<p> {{ form.remember_me() }} {{ form.remember_me.label }} </p>
	<p>  {{ form.submit() }} </p>
</form>


<!---
<h1>Sign in</h1>
<form action="" method="POST novalidate">
  form.hidden_tag()}}
  <p>
    form.username.label}} <br>
    form.username(size=32)}}
  </p>
  <p>
    form.password.label}} <br>
    form.password(size=32)}}
  </p>
  <p>
    form.remember-me.label}}
  </p>
  <p>
    form.submit() }}
  </p>
</form>

--->

<style>
html,
body {
  height: 98.5%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>


{% endblock %}
