{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1>Registrieren</h1>
    <form>
        <div class="form-group pt-2">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="Name" placeholder="Vor- und Nachname">
        </div>
        <div class="form-group pt-2">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="max.mustermann@example.com">
        </div>
        <div class="form-group pt-2">
            <label for="confirmemail">Email bestätigen:</label>
            <input type="email" class="form-control" id="confirmemail" placeholder="Confirm Email Adress">
        </div>
        <div class="form-group pt-2">
            <label for="ConfirmPassword">Passwort:</label>
            <input type="password" class="form-control" id="ConfirmPassword" placeholder=" Enter Password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Registrieren</button>
    </form>
</div>

{% endblock %}